* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s ease;
}

.textfield {
	background-color: white;
}

// Link

.href {
	color: white;
}
.href:hover {
	color: white;
}

.href-black {
	color: black;
}
.href-black:hover {
	color: black;
}

// leaderboard

.leaderboard-header-ranking {
	width: 100%;
}

.leaderboard-header-ranking,
.leaderboard-header {
	background-color: #3f51b5;
	color: white;
	padding: 1rem;
	text-align: center;
}
